[tool.black]
line-length = 100
target-version = ['py38', 'py39', 'py310', 'py311']
skip-string-normalization = true

[tool.mypy]
python_version = "3.8"
warn_return_any = true
warn_unused_configs = true
ignore_missing_imports = true
disallow_untyped_defs = false
check_untyped_defs = false
